<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="~{layouts/layout}">

<div layout:fragment="content">

<section class="album py-5 bg-light">
    <div class="container">
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
            <div class="col" th:each="item : ${items}">
                <div class="card">
                    <img class="card-img-top" th:src="@{${item.getImgPath()}}" alt="..." />
                    <div class="card-body">
                        <div class="text-center">
                            <h5 class="fw-bolder" th:text="${item.getItemName()}">상품이름</h5>
                            <p th:text="|${item.getPrice()} 원|">상품가격</p>
                        </div>
                    </div>
                    <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                        <div class="text-center">
                            <a class="btn btn-outline-dark mt-auto" th:href="@{/item/{itemId}(itemId=${item.getId()})}">상세보기</a>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>

</div>
</html>